body {
    margin: 0; 
    font-family: 'Poppins', sans-serif;
}

.data-container {
    position: absolute;
    width: 13%;
    height: fit-content;
    margin: 20px;
    border-radius: 10px;
    background-color: #05050550;
    color: whitesmoke;
    padding: 0;
    margin: 0;
}

#data-container-r { right: 1%; top: 2%; }
h2 { text-align: center; font-size: 20px; margin-bottom: -5%; }
ul { font-size: 18px; list-style: square; }

ul li::before {
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

